@using Microsoft.AspNet.Identity
    
    @if (Request.IsAuthenticated)
    {
        <div class="col-md-4 centraal">
            <h2>Mijn profiel</h2>

            <a href="@Url.Action("Profiel", "Manage", new { id = User.Identity.GetUserId() })"><img src="~/Images/menu logos/profielLogo.png"></a>

        </div>


    <div class="col-md-4 centraal">
        <h2>Account instellingen</h2>

        <a href="@Url.Action("AccountInstellingen", "Manage")"><img src="~/Images/menu logos/profielSettingsLogo.png"></a>


    </div>
    }

    