@{
    ViewBag.Title = "Contact";
}

<div class="col-md-6 centraal">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Blablastraat<br />
        2100 Leuven<br />
        <abbr title="Phone">GSM:</abbr>
        0488/888.888  <br />
        <abbr title="Phone">TEL:</abbr>
        03/33.33.33
    </address>

    <address>
        <strong>Website:</strong>   <a href="http://www.treecompany.be/">treecompany</a><br />
        <strong>Website:</strong>   <a href="#">Leuven</a><br />
        <strong>Email:</strong> <a href="mailto:info@JPP-L.be">sponsor3</a> <br />
        <strong>Contacteer ons:</strong> <a href="#">Invulformulier</a>
    </address>
</div>