@{
    ViewBag.Title = "Home Page";
}


        @if (Request.IsAuthenticated)
        {
            <h1 id="paginaTitel"><span id="spanZwart">LOKAAL</span> KABAAL</h1>
            
            <div class="row">
                <div class="col-md-4 centraal">
                
                    <a href="#"><img src="~/Images/menu logos/berichtenLogo.png"></a>
                    <h2>Actieve modules</h2>
                   
                </div>
                <div class="col-md-4 centraal">
                 
                    <a href="#"><img src="~/Images/menu logos/recensiesLogo.png"></a>
                    <h2>Geplande modules</h2>
                </div>
               
                    <div class="col-md-4 centraal">
                        
                        <a href="#"><img src="~/Images/menu logos/adminpanelLogo.png"></a>
                        <h2>Volg op</h2>
                    </div>
              
            </div>

    <hr /> 
            Html.RenderAction("recenteGebruikers", "Gebruiker");
            Html.RenderAction("recenteGebruikers", "Gebruiker");
            Html.RenderAction("recenteGebruikers", "Gebruiker");





        }
        else
        {
        <div class="row">
            <div class="col-md-4 centraal">

                <a href="#"><img src="~/Images/websitePage logos/iconIdea.png"></a>
                <h2>Bedenk</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet ullamcorper tempor.
                    Nullam at suscipit arcu. Nunc a magna id diam efficitur scelerisque eget ac eros. Ut consectetur erat diam.
                </p>
            </div>
            <div class="col-md-4 centraal">

                <a href="#"><img src="~/Images/websitePage logos/iconSamenwerken.png"></a>
                <h2>Werk samen</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet ullamcorper tempor.
                    Nullam at suscipit arcu. Nunc a magna id diam efficitur scelerisque eget ac eros. Ut consectetur erat diam.
                </p>
            </div>
            <div class="col-md-4 centraal">

                <a href="#"><img src="~/Images/websitePage logos/iconLike.png"></a>
                <h2>Like</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet ullamcorper tempor.
                    Nullam at suscipit arcu. Nunc a magna id diam efficitur scelerisque eget ac eros. Ut consectetur erat diam.
                </p>
            </div>

        </div>
    <hr />
        <div class="row">
            <div class="col-md-4 centraal">

                <a href="#"><img src="~/Images/websitePage logos/iconExpert.png"></a>
                <h2>Vraag aan expert</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet ullamcorper tempor.
                    Nullam at suscipit arcu. Nunc a magna id diam efficitur scelerisque eget ac eros. Ut consectetur erat diam.
                </p>
            </div>
            <div class="col-md-4 centraal">

                <a href="#"><img src="~/Images/websitePage logos/iconQuestion.png"></a>
                <h2>Comment</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet ullamcorper tempor.
                    Nullam at suscipit arcu. Nunc a magna id diam efficitur scelerisque eget ac eros. Ut consectetur erat diam.
                </p>
            </div>
            <div class="col-md-4 centraal">

                <a href="#"><img src="~/Images/websitePage logos/iconVolgOp.png"></a>
                <h2>Volg op</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet ullamcorper tempor.
                    Nullam at suscipit arcu. Nunc a magna id diam efficitur scelerisque eget ac eros. Ut consectetur erat diam.
                </p>
            </div>

        </div>

        }

